body{
    background-color: #21201E;
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

.left-section{
    margin-left: 20px;
    margin-top: 20px;
}

.logo{
    height: 15px;
}

.right-section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
}

.about-section{
    margin-right: 15px;
    cursor: pointer;
}

.service-section{
    margin-right: 15px;
    cursor: pointer;
}
.contact-section{
    cursor: pointer;
}

.about-section:hover,
.service-section:hover,
.contact-section:hover{
    color: #2A8835;
    text-decoration: underline;
}

.container{
    margin-top: 30px;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.profile-section{
    margin-left: 100px;
    margin-top: 80px;
}

.name{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 7px;
}

.skill{
    color: white;
    font-size: 13px;
    margin-bottom: 8px;
}

.info{
    color: #89CA91;
    width: 500px;
    margin-bottom: 8px;
}

.project-btn{
    background-color: #2A8835;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.project-btn:hover{
    background-color: #1f6327;
}

.project-btn:active{
    opacity: 0.9;
}

.profile-picture{
    margin-right: 100px;
}

.my-picture{
    width: 300px;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-break{
    margin-top: 80px;
}

.services{
    margin-top: 80px;
    margin-left: 100px;
}

.service-header-logo{
    height: 27px;
    margin-bottom: 20px;
}

.service-info{
    width: 500px;
    color: #89CA91
}

.service-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-1{
    background-color: rgba(137, 202, 145, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
    border-radius: 30px;
    margin-left: 100px;
}

.image-skill-1{
    height: 130px;
    margin-left: 20px;
}

.skill-title{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.skill-info{
    width: 250px;
    color: #89CA91;
    margin-left: 10px;
}

.container-2{
    background-color: rgba(137, 202, 145, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
    border-radius: 30px;
    margin-right: 100px;
}

.image-skill-2{
    height: 130px;
    margin-left: 20px;
}

.container-3{
    background-color: rgba(137, 202, 145, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 160px;
    border-radius: 30px;
    margin-top: 100px;
    margin-right: 450px;
    margin-left: 400px;
}

.image-skill-3{
    height: 130px;
    margin-left: 20px;
}

.container-1:hover,
.container-2:hover{
    margin-top: -10px;
    transition: 0.5s;
}

.contact{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.contact-header-logo{
    height: 27px;
    margin-bottom: 20px;
}

.contact-info{
    width: 500px;
    color: #89CA91;
}

.input-contact{
    margin-top: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.input-name{
    background-color: #21201E;
    border: 1px solid rgba(137, 202, 145, 0.2);
    margin-bottom: 5px;
    padding: 8px;
    color: #2A8835;
}

.input-email{
    background-color: #21201E;
    border: 1px solid rgba(137, 202, 145, 0.2);
    margin-bottom: 5px;
    padding: 8px;
    color: #2A8835;
}

.input-message{
    background-color: #21201E;
    border: 1px solid rgba(137, 202, 145, 0.2);
    margin-bottom: 30px;
    padding: 8px 8px 100px 8px;
    color: #2A8835;
}

::placeholder{
    color: #2A8835;
}

.send-btn{
    background-color: #2A8835;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-btn:hover{
    background-color: #1f6327;
}

.send-btn:active{
    opacity: 0.8;
}

.footer{
    display: block;
    
}

.footer-section{
    background-color: rgba(137, 202, 145, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -10000;
}

.copyright{
    color: white;
    margin-left: 80px;
    font-size: 13px;
}

.footer-name{
    color: #2A8835;
}

.social-media{
    color: white;
    z-index: 100;
    margin-right: 80px;
}

.instagram{
    padding-right: 20px;
}